torch==2.0.1
numpy==1.22.1
scipy==1.7.3
accelerate==0.29.1
peft==0.4.0
safetensors==0.4.4
tokenizers==0.19.1
sentencepiece==0.2.0
datasets==1.18.3
hydra-core==1.1.1
omegaconf==2.1.1
higher==0.2.1
sentence-transformers==2.2.2
nltk==3.6.5
scikit-learn==1.0.2
pandas==1.4.0
PyYAML==6.0
matplotlib==3.5.1
tqdm==4.67.1
einops==0.4.0
huggingface-hub==0.20.3
importlib-metadata==6.3.0
fairscale==0.4.13
